<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Welcome to <%= firstName %> <%= lastName %></h1>
		<p>
			You have been invited to join Köster Webservices Customer Portal.
			<a href="<%= url %>">Click here to join</a>
		</p>
	</body>
</html>
